
* {
    /*all: unset;*/
}

/*/ css 100% width fix /*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*/ default css /*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: verdana, sans-serif;
    word-wrap: break-word;
}

body {
    display: block;
    text-align: center;

        background-color: #ffffff;

    min-height: 100%;
    max-width: 100%;
    font-size: 16px;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}

.h1 {
    font-size: 3em;
}

input { font-size: inherit; }
select { font-size: inherit; }

label {
    cursor: pointer !important;
}
button {
    font-size: inherit;
    cursor: pointer !important;
}

.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.none {
    display: none;
}

.overflow-auto { overflow: auto }

.padding { padding: 8px; }

.border-radius { border-radius: 8px; }

.entry {
    padding: 16px;
}

.icon-16 {
    max-width: 16px;
    max-height: 16px;
}

.icon-32 {
    max-width: 32px;
    max-height: 32px;
}

.background-white { background: #ffffff; }

.text-white { color: #ffffff; }
.text-black { color: #000000; }

.text-shadow-green {
    text-shadow:1px 1px 2px #99CC33;
}

.input {
    width: 50%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #000000;
    background: #FFFFFF;
}

#search_input {
    width: 50%;
    padding: 16px;
    border-radius: 50px;
    border: 1px solid #000000;
    background: #FFFFFF;
}

#search_button {
    padding: 16px;
    border-radius: 50px;
}


.margin-top {
    margin-top: 8px;
}
.margin-bottom {
    margin-bottom: 8px;
}


    .label-cyan {
        background: #00FFFF;
        background: -moz-linear-gradient(0deg, rgba(0,153,153,1) 0%, rgba(0,255,255,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0,153,153,1) 0%, rgba(0,255,255,1) 100%);
        background: linear-gradient(0deg, rgba(0,153,153,1) 0%, rgba(0,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009999",endColorstr="#00ffff",GradientType=1);
        border: 1px solid rgba(0,255,255,1);
        padding: 8px;
        border-radius: 8px;
    }
    
    .label-green {
        display: inline-block;
        color: #000000;
         background-color: #99CC33;
        background: -moz-linear-gradient(0deg, rgba(112,152,32,1) 0%, rgba(153,204,51,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(112,152,32,1) 0%, rgba(153,204,51,1) 100%);
        background: linear-gradient(0deg, rgba(112,152,32,1) 0%, rgba(153,204,51,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#709820",endColorstr="#99cc33",GradientType=1);
        border: 1px solid rgba(153,204,51,1);
         padding: 8px;
         border-radius: 6px;
         font-size: 16px;
    }

    .label-red {
        display: inline-block;
        color: #000000;
         background-color: #FF0000;
         margin-bottom: 8px;
         padding: 8px;
         border-radius: 6px;
         font-size: 16px;
    }

#container {
    text-align: center;
}
#free-net{
    position: relative;
    color: #FF0000;
    font-size: medium;
}